body {
  background: #ddd;
  margin: 0;
}
iframe {
  background: #ddd;
  border:0;
  height:100%;
  position:fixed; /* https://stackoverflow.com/a/2425694/349514 */
  width:100%;
}
form {
  left: 58px;
  line-height: 4ex;
  position: absolute;
  top: 4px;
  width: calc(100% - 59px);
}
input {
  background: white;
}
small {
  /* https://alligator.io/css/prevent-line-break/ */
  background-color: hsla(0,0%,100%,0.75);
  border: 2px solid #ccc;
  overflow: hidden;
  padding: 1.1ex;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input,button {
  font-family: monospace;
  font-size: 10pt;
  padding: 0.8ex 1.5ex;
}
input,button,small {
  border-radius: 1ex;
  margin: 1.2ex;
}

